asgiref==3.11.0
crispy-bootstrap5==2025.6
dj-database-url==3.1.0
dj-email-url==1.0.6
Django==6.0.1
django-cache-url==3.4.6
django-ckeditor==6.7.3
django-crispy-forms==2.5
django-js-asset==3.1.2
environs==14.5.0
marshmallow==4.2.1
pillow==12.1.0
python-dotenv==1.2.1
sqlparse==0.5.5
tzdata==2025.3
