{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">

            <div class="card shadow-sm">
                {% if object.photo %}
                <img class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}">
                {% endif %}

                <div class="card-body">
                    <h1 class="card-title">{{ object.title }}</h1>
                    <h6 class="card-subtitle mb-3 text-muted">
                        Muallif: {{ object.author }} | {{ object.date|date:"d M Y" }}
                    </h6>
                    <p class="card-text">{{ object.body|safe }}</p>

                    <div class="d-flex flex-wrap gap-2 mt-3">
                        <a class="btn btn-warning" href="{% url 'article_edit' object.pk %}">Tahrirlash</a>
                        <a class="btn btn-dark" href="{% url 'article_delete' object.pk %}">O'chirish</a>
                        <a class="btn btn-info" href="{% url 'article_list' %}">Barcha postlar</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
