{% extends "base.html" %}

{% block title %} Postlar {% endblock title %}

{% block content %}

{% for article in object_list %}
<div class="card mb-4 shadow-sm">

    <div class="card-header">
        <h4 class="mb-0">
            <a href="{% url 'article_detail' article.pk %}" class="text-decoration-none text-dark">
                {{ article.title }}
            </a>
        </h4>
    </div>

    {% if article.photo %}
    <img
        src="{{ article.photo.url }}"
        class="card-img-top"
        alt="{{ article.title }}"
    >
    {% endif %}

    <div class="card-body">
        <p class="card-text">
            {{ article.summary|truncatewords:30 }}...<a href="{% url 'article_detail' article.pk %}">batafsil</a>
        </p>
    </div>

    <div class="card-footer text-muted">
        muallif {{ article.author|title }} |
        {{ article.date|date:"d M Y" }}
    </div>

</div>
{% endfor %}

{% endblock content %}
